__pycache__
.DS_Store
pose_detector_3d/data/*.npz
pose_detector_3d/data/*.npy
pose_detector_3d/data/*.json
pose_detector_3d/data/infiniteform*
checkpoints
logs
predictions
output
pose_detector_3d/data/h36m.zip
